<section>
    <div class="container">
        <div class="block--border">
            <h2>Turn RDF into GraphViz</h2>
        </div>
        <form method="POST">
            <textarea rows=10 cols=60 type="text" placeholder="RDF here please" name="inputString"></textarea>
            <input type="submit" />
        </form>
    </div>

</section>
