<section>
    <div class="container">
        <div class="block--border">
            <h2>Turn RDF into GraphViz</h2>
        </div>
        <form method="POST">
            <textarea rows=10 cols=60 type="text" placeholder="RDF here please (e.g. in n-triples/ turtle format)" name="inputString"></textarea>
            <input type="submit" />
        </form>
        <p>Alternatively, you can also view a GraphViz version of an orchestrated work package by pasting the 8-letter triplestore ID at the end of the URL.</p>
        <p><b>Live</b> <a href="http://procedures.azurewebsites.net/workpackagesgraphviz/sVns1L8Y" target="_blank">http://procedures.azurewebsites.net/workpackagesgraphviz/sVns1L8Y</a> | <a href="https://api.parliament.uk/query/work_package_by_id?work_package_id=sVns1L8Y" target="_blank">HTML rendering of API</a> | <a href="https://beta.parliament.uk/work-packages/sVns1L8Y" target="_blank">beta</a></p>
        <p><b>Staging</b> <a href="http://procedures.azurewebsites.net/workpackagesgraphviz/sVns1L8Y/staging" target="_blank">http://procedures.azurewebsites.net/workpackagesgraphviz/sVns1L8Y/staging</a> | <a href="https://api.parliament.uk/staging/fixed-query/work_package_by_id?work_package_id=sVns1L8Y" target="_blank">HTML rendering of API</a> | <a href="https://devci.parliament.uk/work-packages/sVns1L8Y" target="_blank">devci</a></p>
    </div>

</section>
