@using Procedure.Web.Models
@model List<BusinessItem>

@if (Model != null && Model.Any())
{
    if (Model.Count == 1)
    {
        <span>[@Model[0].AllData()]</span>
    }
    else
    {
        <ul class="list--definition">
            @foreach (BusinessItem businessItem in Model)
            {
                <li>[@businessItem.AllData()]</li>
            }
        </ul>
    }
}