@using Procedure.Web.Models
@model RouteStepViewModel

@{
    string triggerClass = string.Empty;
    switch (Model.RouteKind)
    {
        case RouteType.Causes:
            triggerClass = "theme--grey-4";
            break;
        case RouteType.Allows:
            triggerClass = "theme--white";
            break;
        case RouteType.Precludes:
            triggerClass = "theme--caution";
            break;
    }
}
<span><span class="hint @triggerClass">@Model.RouteKind</span> @Html.ActionLink(Model.Step.Title, "Details", "Steps", new { id = Model.Step.Id }, new { })</span>

