body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero h1:after {
    height: 0px;
}

details {
    margin-left: 15px;
}

.details {
    margin-left: 20px;
}

.center-text {
    text-align: center;
}