@using Procedure.Web.Models
@model ProcedureDetailViewModel

<section>
    <div class="container">
        <h2>@Model.Procedure.Title</h2>
        @Html.ActionLink("See Graph", "GraphViz", "Procedures", new { id = Model.Procedure.Id }, new { @class = "btn--primary" })
        @{
            Html.RenderPartial("Tree", Model.Tree);
        }
    </div>
</section>