@using Procedure.Web.Models
@model ProcedureDetailViewModel

<section>
    <div class="container">
        <h2>@Model.Procedure.Title</h2>
        @{
            Html.RenderPartial("Tree", Model.Tree);
        }
    </div>
</section>

<section>
    <div class="container">
    @*    <h2>@Model.Procedure.TripleStoreId</h2>*@
    </div>
</section>