@using Procedure.Web.Models
@model ProcedureDetailViewModel

<section>
    <div class="container">
        <h2>@Model.Procedure.Title</h2>
        @Html.ActionLink("See Graph", "Graph", "Procedures", new { id = Model.Procedure.Id }, new { @class = "btn--primary" })
        <p>
            Available formats:
            @Html.ActionLink("DOT (.gv)", "GraphDot", "Procedures", new { id = Model.Procedure.Id }, new {  }),
            @Html.ActionLink("GraphML (.graphml)", "GraphML", "Procedures", new { id = Model.Procedure.Id }, new {  })
        </p>
        @{
            Html.RenderPartial("Tree", Model.Tree);
        }
    </div>
</section>