@using Procedure.Web.Models
@using System.Linq
@model List<ProcedureItem>

<section>
    <div class="container">
        @if (Model.Any())
        {
            <h2>Procedures</h2>
        }
        else
        {
            <h2>No procedures</h2>
        }
    </div>
</section>

<section>
    <div class="container">
        <ul class="list--block">
            @foreach (ProcedureItem procedure in Model.OrderBy(p => p.Title))
            {
                <li>
                    @Html.ActionLink(@procedure.Title, "Details", "Procedures", new { id = procedure.Id }, new { })
                </li>
            }
        </ul>
    </div>
</section>

@section scripts{

}