@using Procedure.Web.Models
@using System.Linq
@model List<WorkPackageProcedureItem>

<section>
    <div class="container">
        <div class="container">
            <ul class="list--block">
                @foreach (WorkPackageProcedureItem procedure in Model.OrderBy(p => p.Id))
                {
                    <li>
                        <div class="list--details">
                            <h2>@procedure.Id</h2>
                            <p>This work Package, #@procedure.WorkPackageId, was subject to procedure #@procedure.SubjectToProcedureId, which consists of routes and steps...</p>
                        </div>
                    </li>
                }

            </ul>
        </div>
    </div>
</section>