@using Procedure.Web.Models
@using System.Linq
@model WorkPackageDetailViewModel

<section>
    <div class="container">
        <h2>@Model.WorkPackageName</h2>
        <ul class="list--block">
            @foreach (BusinessItem businessItem in Model.BusinessItems.OrderBy(p => p.Title))
            {
                <li>
                    <div class="list--details">
                        <h2>@businessItem.Title</h2>
                        <p>Actualises @businessItem.Actualises.Value</p>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>