@using Procedure.Web.Models
@using System.Linq
@model PathwayRouteViewModel

<div class="details">
    @{
        IEnumerable<ProcedureRouteItem> children = Model.Routes
            .Where(r => r.FromStep.Id == Model.FromStepId)
            .Distinct();
        foreach (ProcedureRouteItem routeItem in children)
        {
            <span>&rArr;@{Html.RenderPartial("RouteStep", new RouteStepViewModel() { RouteTypeId = routeItem.RouteType.Id, RouteTypeText = routeItem.RouteType.Value, StepText = routeItem.ToStep.Value });}</span>
            Html.RenderPartial("PathwayRoute", new PathwayRouteViewModel() { FromStepId = routeItem.ToStep.Id, Routes = Model.Routes });
        }
    }
</div>