@using Procedure.Web.Models
@using Procedure.Web.Extensions
@model WorkPackageDetailViewModel

<section>
    <div class="container">
        <div class="block--border">
            <h2>@Model.WorkPackage.Title</h2>
            <dl class="list--definition">
                <dt>Subject to </dt>
                <dd>@Html.ActionLink(Model.WorkPackage.SubjectTo.Value, "Details", "Procedures", new { id = Model.WorkPackage.SubjectTo.Id }, new { })</dd>
            </dl>
        </div>
    </div>
</section>

<section>
    <div class="container">
        @if (!Model.Tree.IsNullOrEmpty())
        {
            Html.RenderPartial("DetailsRoute", Model.Tree);
        }
        else
        {
            <p> No business items</p>
        }
    </div>
</section>