@using Procedure.Web.Models
@using System.Linq
@model List<WorkPackageRouteTree>


<ul class="list--details">
    @foreach (WorkPackageRouteTree routeTree in Model)
    {
        if (routeTree.BusinessItems.Any())
        {
            <li class="list--block">
                <p>
                    @if ((routeTree.IsPrecluded) || (routeTree.SelfReferencedRouteKind==RouteType.Precludes))
                    {
                        <s>@{Html.RenderPartial("RouteStep", routeTree as RouteStep);}</s>
                    }
                    else
                    {
                        Html.RenderPartial("RouteStep", routeTree as RouteStep);
                    }
                </p>
                <p>Actualised by @{ Html.RenderPartial("BusinessItems", routeTree.BusinessItems); }</p>
                <p class="center-text">&dArr;</p>
                @if (routeTree.ChildrenRoutes.Any())
                {
                    Html.RenderPartial("DetailsRoute", routeTree.ChildrenRoutes);
                }
            </li>
        }
        else
        {
            <li class="list--block">
                <div>
                    &rArr;
                    @if (routeTree.IsPrecluded)
                    {
                        <s>@{Html.RenderPartial("RouteStep", routeTree as RouteStep);}</s>
                    }
                    else
                    {
                        Html.RenderPartial("RouteStep", routeTree as RouteStep);
                    }
                </div>
                <div>
                    @if (routeTree.ChildrenRoutes.Any())
                    {
                        Html.RenderPartial("DetailsRoute", routeTree.ChildrenRoutes);
                    }
                </div>
            </li>
        }
    }
</ul>