@using Procedure.Web.Models
@using System.Linq
@model List<WorkPackageItem>

<section>
    <div class="container">
        @if (Model.Any())
        {
            <h2>Work Packages</h2>
        }
        else
        {
            <h2>No work packages</h2>
        }
    </div>
</section>

<section>
    <div class="container">
        <ul class="list--block">
            @foreach (WorkPackageItem workPackage in Model.OrderBy(p => p.Title))
            {
            <li>
                @Html.ActionLink(workPackage.Title, "Details", "WorkPackages", new { id = workPackage.Id }, new { }) &nbsp;
                <label> @workPackage.SubjectTo.Value</label>
            </li>
            }
        </ul>
    </div>
</section>

@section scripts{

}