@using Procedure.Web.Models
@using System.Linq
@model List<StepItem>

<section>
    <div class="container">
        @if (Model.Any())
        {
            <h2>Steps</h2>
        }
        else
        {
            <h2>No steps</h2>
        }
    </div>
</section>

<section>
    <div class="container">
        <ul class="list--block">
            @foreach (StepItem step in Model.OrderBy(p => p.Title))
            {
            <li>
                @Html.ActionLink(step.Title, "Details", "Steps", new { id = step.Id }, new {  })
            </li>
            }
        </ul>
    </div>
</section>

@section scripts{

}