@using Procedure.Web.Models
@using System.Linq
@model ProcedureDetailViewModel

<section>
    <div class="container">
        <h2>@Model.ProcedureName</h2>
        @{
            IEnumerable<KeyValuePair<int, string>> root = Model.Routes
                .Where(r => Model.Routes.Any(to => to.ToStep.Id == r.FromStep.Id) == false)
                .Select(r => new KeyValuePair<int, string>(r.FromStep.Id, r.FromStep.Value))
                .Distinct();
            foreach (KeyValuePair<int, string> route in root)
            {
                IEnumerable<ProcedureRouteItem> children = Model.Routes
                            .Where(r => r.FromStep.Id == route.Key)
                            .Distinct();
                if (children.Any())
                {
                    <details>
                        <summary>@Html.ActionLink(route.Value, "Details", "Step", new { id = route.Key }, new { })</summary>
                        @{
                            RouteViewModel nestedRoute = new RouteViewModel() { Routes = Model.Routes, Children = children.ToList() };
                            Html.RenderPartial("Route", nestedRoute);
                        }
                    </details>
                }
            }
        }
    </div>
</section>