@using Procedure.Web.Models
@using System.Linq
@model ProcedureDetailViewModel

<section>
    <div class="container">
        @{
            IEnumerable<KeyValuePair<int, string>> root = Model.Routes
                .Where(r => r.FromStepId.HasValue && Model.Routes.Any(to => to.ToStepId == r.FromStepId) == false)
                .Select(r => new KeyValuePair<int, string>(r.FromStepId.Value, r.FromStepText))
                .Distinct();
            foreach (KeyValuePair<int, string> route in root)
            {
                IEnumerable<ProcedureRouteItem> children = Model.Routes
                            .Where(r => r.FromStepId == route.Key)
                            .Distinct();
                if (children.Any())
                {
                    <details>
                        <summary>@route.Value</summary>
                        @{
                            RouteViewModel nestedRoute = new RouteViewModel() { Routes = Model.Routes, Children = children.ToList() };
                            Html.RenderPartial("Route", nestedRoute);
                        }
                    </details>
                }
            }
        }
    </div>
</section>