@using Procedure.Web.Models
@using System.Linq
@model RouteViewModel

@{
    IEnumerable<ProcedureRouteItem> root = Model.Routes
        .Where(r => r.FromStepId==Model.FromStepId)
        .Distinct();
    foreach (ProcedureRouteItem route in root)
    {
        string triggerClass= string.Empty;
        switch (route.RouteTypeId)
        {
            case 1:
                triggerClass = "theme--grey-4";
                break;
            case 2:
                triggerClass = "theme--white";
                break;
            case 3:
                triggerClass = "theme--caution";
                break;
        }
        <details>
            <summary><span class="hint @triggerClass">@route.RouteTypeText</span> @route.ToStepText</summary>
            @{
                    RouteViewModel nestedRoute = new RouteViewModel() { Routes = Model.Routes, FromStepId = route.ToStepId };
                    Html.RenderPartial("Route", nestedRoute);
                }    
        </details>
    }
        }
