@using Procedure.Web.Models
@model RouteViewModel

@{
    foreach (ProcedureRouteItem route in Model.Children)
    {
        IEnumerable<ProcedureRouteItem> children = Model.Routes
            .Where(r => r.FromStep.Id == route.ToStep.Id)
            .Distinct();
        RouteStepViewModel routeStep = new RouteStepViewModel() { RouteTypeId = route.RouteType.Id, RouteTypeText = route.RouteType.Value, StepText = route.ToStep.Value, StepId = route.ToStep.Id };
        if (children.Any())
        {
            <details>
                <summary>
                    @{
                        Html.RenderPartial("RouteStep", routeStep);
                    }
                </summary>
                @{
                    RouteViewModel nestedRoute = new RouteViewModel() { Routes = Model.Routes, Children = children.ToList() };
                    Html.RenderPartial("Route", nestedRoute);
                }
            </details>
        }
        else
        {
            <div>
                @{
                    Html.RenderPartial("RouteStep", routeStep);
                }
            </div>
        }
    }
}
